@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap');

/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --green: #68A76E;
    --dark-greyish-blue: #22252F;
    --light-greyish-blue: #A0A5B4;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--dark-greyish-blue);
    font-family: 'Montserrat', sans-serif;
}

.no-scroll {
    overflow-y: hidden;
}

.flex {
    display: flex;
    align-items: center;
}

.flex-centre {
    display: flex;
    align-items: center;
    justify-content: center;
}

.justify-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.flex-column-centre {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.portfolio-section {
    min-height: 100vh;
}

.portfolio-section > .wrapper {
    min-height: 100vh;
    padding-top: 2rem;
}

.wrapper {
    width: 100%;
    max-width: 1200px;
    padding: 0 1.5rem;
}

.hidden {
    display: none;
}

h2 {
    color: rgba(255, 255, 255, 0.7);
}

.body-text {
    color: var(--light-greyish-blue);
    line-height: 1.5rem;
}

.cta {
    text-decoration: none;
    color: var(--green);
    font-weight: 600;
    border: 1px solid var(--green);
    padding: 1rem 2rem;
    border-radius: 5px;
    transition: all 0.25s ease-in-out;
}

/* HEADER */
.header {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 5rem;
    z-index: 1;
    transition: top 0.5s ease-in-out;
    background-color: var(--dark-greyish-blue);
    max-width: 1200px;
    padding: 0 1.5rem;
}

.header-box-shadow {
    box-shadow: 0 0px 5px 5px rgba(0, 0, 0, 0.1);
}

.logo {
    max-width: 2.5rem;
    z-index: 3;
}

.menu-btn {
    height: 2rem;
    width: 2rem;
    background: url('./assets/hamburger-icon.svg') no-repeat center center;
    background-size: 2.5rem;
    border: none;
    z-index: 4;
}

.menu-btn-open {
    background: url('./assets/close-icon.svg') no-repeat center center;
    background-size: 2.5rem;
    position: fixed;
    top: 2rem;
    right: 1.5rem;
}

.nav {
    position: fixed;
    inset: 0 0 0 30%;
    height: 100vh;
    z-index: 3;
    padding: 8rem 0 0 3rem;
    background-color: #2a3146;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
}

.nav > ul {
    list-style-image: url('./assets/chevron-right.svg');
}

.nav > ul > li::marker {
    font-size: 2rem;
}

.nav > ul > li {
    margin: 1.5rem 0;
}

.nav > ul > li:last-child {
    list-style: none;
    margin-top: 3rem;
}

.nav-link:not(.cta) {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1.2rem;
    font-weight: 600;
    transition: color 0.25s ease-in-out;
}

.nav-open {
    transform: translateX(0);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    z-index: 2;
    display: none;
}

.overlay-active {
    display: block;
}

/* MAIN */
/* Hero */
#hero > .wrapper {
    min-height: auto;
}

.greeting {
    color: var(--light-greyish-blue);
}

h1 {
    font-size: 2.5rem;
    color: var(--green);
    margin: 1rem 0;
}

.headline {
    color: rgba(255, 255, 255, 0.7);
    font-weight: 700;
    font-size: 2rem;
}

#hero .body-text {
    margin-top: 1rem;
}

#hero .cta {
    display: none;
}

.scroll-down {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    max-width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
}

.down-arrow {
    width: 2rem;
}

/* About */
#about > .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#about h2 {
    margin-bottom: 2rem;
}

.technologies-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem 2rem;
    padding: 1rem 0 0 1rem;
}

.technologies-list-item {
    list-style-image: url('./assets/chevron-right.svg');
    color: var(--light-greyish-blue);
}

.technologies-list-item::marker {
    font-size: 1.5rem;
}

.about-img-wrapper {
    background-color: var(--green);
    overflow: hidden;
    position: relative;
    margin-top: 2rem;
    border-radius: 79% 20% 33% 58% / 34% 54% 35% 59%;
    width: 220px;
    height: 220px;
    max-width: 70%;
    max-height: 70%;
}

.about-img {
    position: absolute;
    max-width: 100%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

/* Work */
#work {
    margin-top: 3rem;
}

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.project-card {
    margin-top: 1.5rem;
    background-color: #2E323F;
    width: 100%;
    border-radius: 5px;
    padding: 2rem 1.5rem;
}

h3 {
    color: #FFFFFF;
    margin-bottom: 1.5rem;
}

.text-link {
    text-decoration: none;
    color: var(--green);
}

.app-links-container {
    margin-top: 0.5rem;
}

.project-link {
    text-decoration: none;
}

.google-play-img {
    width: 9.5rem;
}

.tools-text {
    color: var(--light-greyish-blue);
    font-weight: 600;
    margin-top: 1rem;
}

.project-tech {
    margin: 0.5rem 0 2rem 0;
    flex-wrap: wrap;
}

.project-tech-item {
    margin: 0.5rem 0.5rem 0 0;
    padding: 0.2rem 0.5rem;
    background-color: #C9C9C9;
    color: var(--dark-greyish-blue);
    border-radius: 5px;
    font-weight: 500;
}

.project-card .github-icon {
    margin-right: 1rem;
}

.view-more-challenges {
    margin: 2rem 0;
}

/* Contact */
#contact {
    min-height: auto;
    padding: 4rem 0;
}

#contact > .wrapper {
    min-height: auto;
    text-align: center;
}

#contact > .wrapper > .body-text {
    max-width: 600px;
    margin: 0 auto;
}

#contact h2 {
    margin-bottom: 2rem;
}

.contact-btn {
    margin: 1.5rem 0;
}

.platform-link {
    margin: 1rem;
}

/* FOOTER */
footer {
    background-color: #16171a;
    padding: 0.5rem 0;
}

@media screen and (min-width: 500px) {
    .about-img-wrapper {
        width: 320px;
        height: 320px;
    }
}

/* TABLET VARIATIONS */
@media screen and (min-width: 768px) {
    /* GENERAL */
    .wrapper {
        padding: 0 5rem;
    }
    /* HEADER */
    .header {
        padding: 0 2rem;
        height: 6rem;
    }
    .menu-btn {
        display: none;
    }
    .nav {
        position: relative;
        height: auto;
        inset: 0;
        padding: 0;
        background-color: transparent;
        transform: translateX(0);
    }
    .nav > ul {
        list-style: none;
        display: flex;
        align-items: center;
    }
    .nav > ul > li {
        margin: 0 1rem;
    }
    .nav > ul > li:last-child {
        margin-top: 0;
    }
    .nav-link:not(.cta) {
        font-weight: 400;
        color: var(--light-greyish-blue);
    }

    /* MAIN */
    h2 {
        font-size: 2rem;
    }
    /* Hero */
    .greeting {
        font-size: 1.2rem;
    }
    h1 {
        font-size: 4rem;
    }
    .headline {
        font-size: 3.5rem;
    }
    #hero .body-text {
        font-size: 1.1rem;
        line-height: 1.8rem;
        margin-bottom: 1.5rem;
    }

    #hero .cta {
        display: inline-block;
    }

    /* About */
    .about-img-wrapper {
        max-width: 20rem;
    }
    .about-img {
        max-width: 20rem;
        margin-top: 5rem;
    }

    /* Work */
    .projects {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        gap: 0.5rem 1.5rem;
    }
    .project-card {
        width: 48%;
    }
}

/* DESKTOP VARIATIONS */
@media screen and (min-width: 1200px) {
    /* GENERAL */
    .cta:hover {
        background-color: var(--green);
        color: #FFFFFF;
    }
    .icon > path {
        transition: fill 0.3s ease-in-out;
    }
    .icon:hover > path {
        fill: var(--green);
    }

    /* HEADER */
    .header {
        max-width: none;
    }
    .nav-link {
        position: relative;
    }
    .nav-link:hover {
        cursor: pointer;
    }
    .nav-link:not(.cta):hover {
        color: var(--green);
    }
    .nav-link:not(.cta)::after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: -4px;
        left: 0;
        background-color: var(--green);
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }
    .nav-link:not(.cta):hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }

    /* MAIN */
    /* Hero */
    #hero > .wrapper {
        margin-top: -2.5rem;
    }
    h1 {
        font-size: 4.5rem;
    }
    .headline {
        font-size: 4rem;
    }
    #hero .body-text {
        max-width: 40rem;
    }
    .scroll-down:hover {
        cursor: pointer;
    }

    /* About */
    #about > .wrapper {
        flex-direction: row;
        justify-content: space-between;
    }
    .about-text {
        max-width: 60%;
    }
    .about-img {
        margin: 0;
    }

    /* Work */
    .text-link {
        position: relative;
    }
    .text-link::after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 1px;
        bottom: -2px;
        left: 0;
        background-color: var(--green);
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }
    .text-link:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }
}

@media screen and (min-width: 1440px) {
    /* GENERAL */
    .wrapper {
        padding: 0;
    }
}
