---
import ThemeToggle from '@components/ThemeToggle.astro';
import AboutMe from '@features/aboutMe/AboutMe.astro';
import Experience from '@features/experience/Experience.astro';
import Hero from '@features/hero/Hero.astro';
import Layout from '@layouts/Layout.astro';
---

<Layout>
	<main>
		<Hero />
		<AboutMe />
		<Experience />
	</main>
	<ThemeToggle />
</Layout>
