---
interface Props {
  type: 'linkedin' | 'github'
  url: string
  accessibilityLabel: string
}

const { type, url, accessibilityLabel } = Astro.props
---

<a
  href={url}
  target="_blank"
  rel="noopener noreferrer"
  aria-label={accessibilityLabel}
  class="social-button"
>
  {type === 'linkedin' && (
    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="icon">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M9.429 8.969H13.143V10.819C13.678 9.755 15.05 8.799 17.111 8.799C21.062 8.799 22 10.917 22 14.803V22H18V15.688C18 13.475 17.465 12.227 16.103 12.227C14.214 12.227 13.429 13.572 13.429 15.687V22H9.429V8.969V8.969ZM2.57 21.83H6.57V8.799H2.57V21.83V21.83ZM7.143 4.55C7.14315 4.88528 7.07666 5.21724 6.94739 5.52659C6.81812 5.83594 6.62865 6.11651 6.39 6.352C5.9064 6.83262 5.25181 7.10165 4.57 7.1C3.88939 7.09954 3.23631 6.8312 2.752 6.353C2.51421 6.11671 2.32539 5.83582 2.19634 5.52643C2.0673 5.21704 2.00058 4.88522 2 4.55C2 3.873 2.27 3.225 2.753 2.747C3.23689 2.26816 3.89024 1.9997 4.571 2C5.253 2 5.907 2.269 6.39 2.747C6.872 3.225 7.143 3.873 7.143 4.55Z" fill="white"/>
    </svg>
  )}
  {type === 'github' && (
    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="icon">
      <path d="M21.035 5.257C21.945 6.349 22.399 7.623 22.399 9.079C22.399 14.356 19.397 15.903 16.576 16.358C16.94 16.995 17.031 17.723 17.031 18.451V22.181C17.031 22.636 16.758 22.909 16.394 22.909C16.298 22.9103 16.2027 22.8924 16.1138 22.8563C16.0249 22.8202 15.9441 22.7666 15.8762 22.6988C15.8083 22.6309 15.7548 22.5501 15.7187 22.4612C15.6826 22.3722 15.6646 22.277 15.666 22.181V18.451C15.7139 18.0696 15.6732 17.6824 15.5469 17.3193C15.4206 16.9563 15.2122 16.6273 14.938 16.358L15.393 15.175C18.214 14.811 21.126 13.901 21.126 8.988C21.126 7.805 20.671 6.713 19.852 5.803L19.67 5.076C20.016 4.20405 20.0479 3.23885 19.76 2.346C19.306 2.436 18.396 2.619 16.85 3.711L16.303 3.801C14.1538 3.25527 11.9022 3.25527 9.75299 3.801L9.20599 3.711C7.56999 2.71 6.65999 2.437 6.20399 2.437C5.93099 3.347 5.93099 4.347 6.29399 5.167L6.11299 5.894C5.20299 6.804 4.74799 7.987 4.74799 9.079C4.74799 13.901 7.47799 14.902 10.48 15.266L10.844 16.449C10.298 16.995 10.025 17.723 10.116 18.451V22.272C10.1173 22.368 10.0994 22.4632 10.0633 22.5522C10.0272 22.6411 9.97363 22.7219 9.90576 22.7898C9.83789 22.8576 9.7571 22.9112 9.66817 22.9473C9.57924 22.9834 9.48396 23.0013 9.38799 23C9.29202 23.0013 9.19675 22.9834 9.10781 22.9473C9.01888 22.9112 8.93809 22.8576 8.87022 22.7898C8.80235 22.7219 8.74877 22.6411 8.71266 22.5522C8.67655 22.4632 8.65864 22.368 8.65999 22.272V20.18C5.65799 20.817 4.47499 19.27 3.56499 18.088C3.10999 17.542 2.74599 17.087 2.29099 16.996C2.20099 16.905 1.92699 16.541 2.01799 16.177C2.10899 15.813 2.47299 15.54 2.83799 15.722C3.74799 15.904 4.29299 16.632 4.83799 17.269C5.65799 18.361 6.47699 19.361 8.93299 18.816V18.452C8.84299 17.724 9.02399 16.996 9.38799 16.359C6.65799 15.813 3.47399 14.266 3.47399 9.08C3.47399 7.624 3.92899 6.35 4.83899 5.258C4.56599 3.985 4.65699 2.62 5.11199 1.528L5.56699 1.164C5.74899 1.073 7.02299 0.800001 9.65999 2.437C11.8403 1.89107 14.1216 1.89107 16.302 2.437C18.851 0.708001 20.216 0.980001 20.398 1.072L20.853 1.436C21.308 2.71 21.399 3.984 21.035 5.257V5.257Z" />
    </svg>
  )}
</a>

<style>
  .social-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    background-color: var(--secondary-button);
    padding: 1rem;
    transition: background-color 0.3s ease-in-out;
  }

  .social-button:hover {
    background-color: var(--accent-strong);
  }

  .icon > path {
    fill: var(--primary);
    transition: fill 0.3s ease-in-out;
  }

  .social-button:hover .icon > path {
    fill: white;
  }
</style>
