<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Neil Khatri - Software Engineer. View Neil's work and experience and get in contact with him.">
		<meta name="generator" content={Astro.generator} />
		
    <title>Neil Khatri - Portfolio</title>

    <link rel="icon" type="image/x-icon" href="/favicon.svg">
    <link rel="shortcut icon" href="/favicon.svg">
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap');

	:root {
		--background: #F6F6F6;
		--primary: #191b19;
		--secondary: rgba(0, 0, 0, 0.75);
		--accent: #68A76E;
		--accent-strong: #4b8751;
	}

	*, ::before, ::after {
		margin: 0px;
		padding: 0px;
		box-sizing: border-box;
	}

	html,
	body {
		background-color: var(--background);
		color: var(--primary);
		font-family: 'Inter', system-ui, -apple-system, sans-serif;
	}

	html {
		scroll-behavior: smooth;
	}

	body {
		padding: 0px 20px;
		max-width: 1440px;
		margin: 0 auto;
	}

	@media screen and (min-width: 768px) {
		body {
			padding: 0px 40px;
		}
	}

	h1, h2 {
    font-family: 'Montserrat', 'Inter', system-ui, -apple-system, sans-serif;
  }
</style>
