<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Neil Khatri - Software Engineer. View Neil's work and experience and get in contact with him.">
		<meta name="generator" content={Astro.generator} />
		
    <title>Neil Khatri - Portfolio</title>

    <link rel="icon" type="image/x-icon" href="/favicon.svg">
    <link rel="shortcut icon" href="/favicon.svg">
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
